@{
    ViewData["Title"] = "You have been signed out";
}

<div class="text-center">
    <h1 class="display-4">You have been signed out!</h1>
    <p>Please close the browser window to ensure all applications have signed out.</p>
</div>

